<!DOCTYPE html>
<html>
<head>
	<title>Assignment 2 Part 2</title>
</head>
<body>
	<h1>Elizabeth's Life in Pictures, Continued</h1>

	<figure>
		<img src="IMAGES/KevinsChili.jpg" alt="Scene from the TV show The Office where Kevin spills his chili" width="500px" height="500px">
		<figcaption>This scene is arguably one of the most famous from The Office, and for good reason.</figcaption>
	</figure>

	<figure>
		<img src="IMAGES/WatLady.jpg" alt="Meme where an older lady has a bewildered facial expression with the word WAT printed underneath" width="750px" height="500px">
		<figcaption>I relate to this woman's look of bewilderment and use the word "WAT" in reaction to puzzling news frequently.</figcaption>
	</figure>

	<figure>
		<img src="IMAGES/Bulldogs.jpg" alt="English bulldog puppies playing" width="750px" height="500px">
		<figcaption>I absolutely love dogs (who doesn't?), but I'm particularly obsessed with bulldogs.</figcaption>
	</figure>

	<figure>
		<img src="IMAGES/Superstitious.jpg" alt="Michael from TV show The Office saying he's a little stitious" width="700px" height="550px">
		<figcaption>Another gem from The Office. I, too, am not superstitious ... but I am a little stitious.</figcaption>
	</figure>

	<figure>
		<img src="IMAGES/EverythingIsFine.jpg" alt="Meme with dog sitting calmly is a burning kitchen, pretending everything is fine" width="800px" height="400px">
		<figcaption>This meme is timeless and I definitely relate.</figcaption>
	</figure>
	
</body>
</html>
